@use "sass:color";

// Base colors
$mac-red: rgb(255, 95, 86);
$mac-yellow: rgb(255, 189, 46);
$mac-green: rgb(39, 201, 63);
$mac-gray: rgb(166, 166, 166);


/* Text Colors */
$color-text-primary: rgba(48, 49, 51, 1.0);
$color-text-regular: rgba(96, 98, 102, 1.0);
$color-text-secondary: rgba(144, 147, 153, 1.0);
$color-text-placeholder: rgba(168, 171, 178, 1.0);
$color-text-disabled: rgba(192, 196, 204, 1.0);

/* Border Colors */
$color-border-darker: rgba(205, 208, 214, 1.0);
$color-border-dark: rgba(212, 215, 222, 1.0);
$color-border-base: rgba(220, 223, 230, 1.0);
$color-border-light: rgba(228, 231, 237, 1.0);
$color-border-lighter: rgba(235, 238, 245, 1.0);
$color-border-extra-light: rgba(242, 246, 252, 1.0);

/* Fill Colors */
$color-fill-darker: rgba(230, 232, 235, 1.0);
$color-fill-dark: rgba(235, 237, 240, 1.0);
$color-fill-base: rgba(240, 242, 245, 1.0);
$color-fill-light: rgba(245, 247, 250, 1.0);
$color-fill-lighter: rgba(250, 250, 250, 1.0);
$color-fill-extra-light: rgba(250, 252, 255, 1.0);
$color-fill-blank: rgba(255, 255, 255, 1.0);

/* Basic Colors */
$color-basic-black: rgba(0, 0, 0, 1.0);
$color-basic-white: rgba(255, 255, 255, 1.0);

/* Background Colors */
$color-bg-page: rgba(242, 243, 245, 1.0);
$color-bg-base: rgba(255, 255, 255, 1.0);
$color-bg-overlay: rgba(255, 255, 255, 1.0);
/* Transparent */
$color-transparent: transparent;


$primary-color: rgba(64, 158, 255, 1.0);
$success-color: rgba(103, 194, 58, 1.0);
$warning-color: rgba(230, 162, 60, 1.0);
$danger-color: rgba(245, 108, 108, 1.0);
$info-color: rgba(144, 147, 153, 1.0);


$default-color-alpha-1: color.adjust($primary-color, $alpha: -0.9);
$default-color-alpha-3: color.adjust($primary-color, $alpha: -0.7);

$success-color-alpha-1: color.adjust($success-color, $alpha: -0.9);
$success-color-alpha-3: color.adjust($success-color, $alpha: -0.7);

$warning-color-alpha-1: color.adjust($warning-color, $alpha: -0.9);
$warning-color-alpha-3: color.adjust($warning-color, $alpha: -0.7);


$danger-color-alpha-1: color.adjust($danger-color, $alpha: -0.9);
$danger-color-alpha-3: color.adjust($danger-color, $alpha: -0.7);

$info-color-alpha-1: color.adjust($info-color, $alpha: -0.9);
$info-color-alpha-3: color.adjust($info-color, $alpha: -0.7);


// base font
// $font-color: rgba(48, 49, 51, 1);
$font-color: var(el-text-color-primary);
$font-family: 'DefaultFont',
    sans-serif;
$font-weight-regular: normal;
$font-weight-bold: bold;
$font-size: 14px;

// border
$simple-border: rgba(215, 215, 215, 0.7) solid 1px;

$globe-layout-color: rgba(255, 255, 255, 0.75);
$globe-padding: 1em;
$globe-border-radius: 4px;
$globe-margin: 1em;
$globe-backdrop-filter: blur(1em);


// blur
$simpe-blur-value: 1em;
$simpe-blur: blur($simpe-blur-value);
// shadow
$simple-box-shadow: rgba(152, 152, 152, 0.6) .25em .25em 2em 2px;

//global-command
$global-command-padding: $globe-margin;
$global-command-height: calc(40px + 2 * $global-command-padding);

// content
$content-fill-hight: calc(100vh - $global-command-height);

// scrollbar
$scrollbar-width: 8px;
$scrollbar-width-thiner: calc($scrollbar-width / 1.5);
$scrollbar-baseColor: $color-text-placeholder;
$scrollbar-track-background: rgba(100, 100, 100, 0.1);

// $scrollbar-track-background: color.adjust($scrollbar-baseColor, $lightness: -80%, $space: hsl);
$scrollbar-thumb-background: color.adjust($scrollbar-baseColor, $lightness: 10%, $space: hsl);
$scrollbar-thumb-hover-background: color.adjust($scrollbar-baseColor, $lightness: -10%, $space: hsl);


// transition
$simpel-transition: all .5s ease-in-out;
$simpel-transition-fast: all .25s ease-in-out;
$simpel-transition-faster: all .15s ease-in-out;
