@font-face {
    font-family: 'DefaultFont';
    src: url('./JetBrainsMono.woff2') format('woff2'),
        url('./JetBrainsMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}