@font-face {
    font-family: 'DefaultFont';
    src: url('../assets/fonts/JetBrainsMono.woff2') format('woff2'),
        url('../assets/fonts/JetBrainsMono.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}